---
import config from 'virtual:starlight/user-config';

import LanguageToggle from './LanguageToggle.astro';
// @ts-ignore
import Search from 'virtual:starlight/components/Search';
import SiteTitle from './SiteTitle.astro';
import SocialIcons from './SocialIcons.astro';
import ThemeToggle from './ThemeToggle.astro';

const shouldRenderSearch =
	config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

<div class="header sl-flex">
	<div class="title-wrapper sl-flex">
		<SiteTitle />
	</div>
	<div class="sl-flex print:hidden">
		{shouldRenderSearch && <Search />}
	</div>
	<div class="sl-hidden md:sl-flex print:hidden right-group">
		<div class="sl-flex social-icons">
			<SocialIcons />
		</div>
		<ThemeToggle />
		<LanguageToggle />
	</div>
</div>

<style>
	@layer starlight.core {
		.header {
			gap: var(--sl-nav-gap);
			justify-content: space-between;
			align-items: center;
			height: 100%;
		}

		.title-wrapper {
			overflow: clip;
			padding: 0.25rem;
			margin: -0.25rem;
			min-width: 0;
		}

		.right-group,
		.social-icons {
			gap: 0.5rem;
			align-items: center;
		}

		.social-icons::after {
			content: '';
			height: 1.25rem;
			border-inline-end: 1px solid var(--sl-color-border);
			margin-inline: 0.25rem;
		}

		@media (min-width: 50rem) {
			:root[data-has-sidebar] {
				--__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
			}
			:root:not([data-has-toc]) {
				--__toc-width: 0rem;
			}
			.header {
				--__sidebar-width: max(0rem, var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x));
				--__main-column-fr: calc(
					(
						100% + var(--__sidebar-pad, 0rem) - var(--__toc-width, var(--sl-sidebar-width)) -
							(2 * var(--__toc-width, var(--sl-nav-pad-x))) - var(--sl-content-inline-start, 0rem) -
							var(--sl-content-width)
					) / 2
				);
				display: grid;
				grid-template-columns:
					minmax(
						calc(var(--__sidebar-width) + max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))),
						auto
					)
					1fr auto;
				align-content: center;
			}
		}
	}
</style>
